.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.container > * {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.actions {
  text-align: right;
}

.container button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
}

.container button:hover,
.container button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.container .button--alt {
  color: #8a2b06;
}

.container .button {
  background-color: #8a2b06;
  color: white;
}
